*{
    margin: 0;
    padding: 0;
}
.panel-block{
    padding: 1em;
    border: 1px solid red;
}
.el-header,.el-footer{
    padding: 0;
}
.container{
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    &:not(first-child){
        margin-top: 1em;
    }
}
li{
    list-style: none;
}
.clear-fix::after{
    display: block;
    content: "";
    clear: both;
}